body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  --gap: 5px;
  --clr: rgb(100 116 139);
  --height: 23px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
 }
 
 .spinner span {
  background: var(--clr);
  width: 6px;
  height: var(--height);
  animation: grow 1s ease-in-out infinite;
 }
 
 .spinner span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
 }
 
 .spinner span:nth-child(3) {
  animation: grow 1s ease-in-out 0.3s infinite;
 }
 
 .spinner span:nth-child(4) {
  animation: grow 1s ease-in-out 0.475s infinite;
 }
 
 @keyframes grow {
  0%,100% {
   transform: scaleY(1);
  }
 
  50% {
   transform: scaleY(1.8);
  }
 }